.header {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #fff;
    /* width: ; */
  }
  
  .search-bar {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .header-icons {
    display: flex;
    align-items: center;
  }
  
  .notification-icon {
    margin-right: 10px;
  }
  
  .user-profile {
    width: 32px;
    height: 32px;
    background-color: #007bff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
  