.task-board {
    /* display: flex; */
    gap: 10px;
    padding: 20px;
    background-color: #f0f2f5;
  }
  
  .task-column {
    flex: 1;
    background-color: #fff;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  .filter-button{
    margin: 5px;
    padding: 12px;
    width: 300px;
    text-align: start;
    cursor: pointer;
    background-color: white;
    outline: none;
    border:none;
    color: black;
  }
  .task-cards{
    display: flex;
    /* flex-direction: column; */
    gap: 10px;

  }
  .button-container{
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
  }
  